@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a simple Task Tracker App to create,edit or delete Tasks.</p>
    <a class="btn btn-primary" asp-action="Index" asp-controller="Task">Start</a>
</div>
